* { box-sizing: border-box; }

html, body
{
	margin: 0;
}

h1, h2, h3, h4, h5, h6
{ margin: 0; }

a
{
	text-decoration: none;
	color: #483c32;
}

#header, #page
{
	width: 80%;
	margin: 0 auto;
}

#header
{
	margin-top: 0.5rem;
}

#header > h1
{
	margin: 0;
	display: inline;
}

#newbt
{
	width: 6.25rem;
	height: 2rem;
	float: right;
	border-radius: 3px;
	background-color: #e5e4e2;
	color: #333;
	text-transform: uppercase;
	text-align: center;
	font-size: 1rem;
	padding: 0.5rem;
	transition: color 1s, background-color 1s;
}

#newbt:hover
{
	color: #fff;
	background-color: #bbc6cc;
}

#page
{
	margin-top: 1rem;
	overflow: overlay;
}

#files-header
{
	background-color: #7e587e;
	color: #fff;
	font-weight: bold;
	padding: 0.5rem;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#files
{
}

.fileitem
{
	padding: 0.5rem 0.5rem;
	border-bottom: 1px solid #e9cfec;
}

#text
{
	width: 50%;
	float: left;
	padding: 0.5rem 0.5rem 0.5rem 0;
}

#edit
{
	width: 50%;
	float: right;
}

#edittextarea
{
	width: 100%;
	min-height: 300px;
}
